body 
{
	max-width: 450px;
	background: #dfdfdf;
	color: #515151;
	font-size: 12pt;
	margin: 0 auto;
	padding: 1em;
}

a 
{
	text-decoration: none;
	color: #515151;
}

a:hover 
{
	color: #FF0000;
}

.firstPanel, .secondPanel
{
	background: #FFFFFF;
	overflow: hidden;
	box-shadow: 0 5px 8px #323232;
	text-align: center;
}

.header img
{
	width:100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
}

.header h1
{
	margin-top: .25em;
}

.header h3
{
	margin-top: -1em;
	margin-bottom: 1.5em;
}

.header h4
{
	color: #FF0000;
	padding: 0 1.5em 0 1.5em;
}

.header p
{
	font-size: 12pt;
	color: #818181;
	padding: 0 1.5em 0 1.5em;
}

.header ul
{
	list-style: none;
	display: inline-block;
	font-size: 13pt;
	margin: auto 0;
	padding: 0 5% 0 9%;
}

.header ul i
{
	color: #FF0000;
	font-weight: bold;
}

.footer
{
	margin-top: 1em;
	padding-bottom: .5em;
}

.mailto
{
	padding-left: 0.2em;
}

.cv {
	font-size: 28px !important;
	margin-left: .1em;
}

.divider {
	width: 80%;
	height: auto;
	display: inline-block;
}

.btnNext, .btnPrev {
	opacity: 0.4;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.btnNext:hover, .btnPrev:hover {
	opacity: 1 !important;
	color: #FF0000;
}

@-webkit-keyframes hvr-push 
{
	50% 
	{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% 
	{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes hvr-push 
{
	50% 
	{
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	100% 
	{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.hvr-push 
{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active 
{
	-webkit-animation-name: hvr-push;
	animation-name: hvr-push;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@media screen and (max-height: 1200px)
{
	body
	{
		max-width: 350px;
	}
}

@media screen and (max-width: 320px) {
	body {
		max-width: 250px;
	}

	.divider {
		width: 70%;
	}

	.header ul {
		padding-left: 0.8em;
		padding-right: 0.8em;
		padding-top: 0.5em;
		display: block;
	}
}